*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}.navbar {
    background-color: #533B4D;
    padding: 10px 0;
}
.nav-links {
    list-style: none;
    display: flex; 
    justify-content: center;
}
.nav-links > li {
    position: relative;
    margin: 0 15px;

}
.border {
    width: 60px;
    height: 4px;
    background: #FAE3C6;
    /* margin: 0 auto 40px; */
    border-radius: 2px;
    /* margin-right: 10px; */
    position: absolute;
    right: 5px;
    margin-top: 10px;
    display: none;
    /* transition: .4s ease-in-out; */
}
.nav-links li a {
    display: block;
    color: #FAE3C6;
    text-decoration: none;
    padding: 10px 15px;
    /* white-space: nowrap;  */
    border-radius: 25px;
    transition: .4s ease-in-out;
    z-index: 3;
}
.dropdown-menu li a{
    border-radius: 0;
}
.nav-links a:hover {
    /* display: flex; */
    /* transition: .4s ease-in; */
    /* border: 3px solid #533B4D; */
    /* padding: 0; */
    /* border-radius: 25px; */
    
    background-color: #FAE3C6;
    color: #533B4D;
     
}

.nav-links .dropdown-manu a:hover{
    border-radius: 0;
}
.nav-links a:hover .do{
    display: none;
}
.ri{
    display: none;
}
.nav-links a:hover .ri{
    display: inline-block;
}
.dropdown-menu {
    list-style: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #533B4D;
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    visibility: hidden; 
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease; 
}
.dropdown-menu li a {
    color: #FAE3C6;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 .dropdown:hover  .dropdown-menu {
    visibility: visible; 
    opacity: 1; 
}
.dropdown-submenu li{
    text-decoration: none;
}
.dropdown-submenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute; 
    top: 0; 
    left: 100%; 
    background-color: #533B4D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}
.dropdown-submenu li  a{
    

        color: #FAE3C6;
        padding: 12px 16px;
        display: block;
        text-decoration: none;

        text-align: left;
    
}
li  .dropdown:hover  .dropdown-submenu {
    visibility: visible;
    opacity: 1;
}